<% @followers.each do |follower| %>
  <div>
    <div class="balloon5">
      <div class="faceicon1">
        <%= image_tag follower.get_profile_image(70,70) %>
      </div>
      <div class="name-gr">
        <div class="name">
          <p><%= link_to follower.name, [follower] %></p>
        </div>
      </div>
    </div>
  </div>
<% end%>