<h1>Tags#index</h1>
<p>Find me in app/views/tags/index.html.erb</p>

<h2>TagsList --></h2>
<ul>
  <% @tags.each do |tag| %>
    <li>
      <%# タグの名前と、関連付く記事数を表示 %>
      <%= link_to "#{tag.name} ( Photos: #{tag.photos.count} )", tag_path(tag) %>
    </li>
  <% end %>
</ul>
