
<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>

<%= javascript_pack_tag "swiper/swiper.js" %>

<% User.all.each do |user| %>
<div>
  <%= link_to user.name, user_path(user) %>
</div>
<% end %>


<!--<div class="swiper-container">-->
<!--	<div class="swiper-wrapper">-->
<!--		<div class="swiper-slide"><img src="https://haniwaman.com/cms/wp-content/uploads/2018/05/swiper01.png" alt="Swiper01"></div>-->
<!--		<div class="swiper-slide"><img src="https://haniwaman.com/cms/wp-content/uploads/2018/05/swiper02.png" alt="Swiper02"></div>-->
<!--		<div class="swiper-slide"><img src="https://haniwaman.com/cms/wp-content/uploads/2018/05/swiper03.png" alt="Swiper03"></div>-->
<!--	</div>-->
<!--	<div class="swiper-button-prev"></div>-->
<!--	<div class="swiper-button-next"></div>-->
<!--</div>-->

<!--<script src="dist/js/swiper.js"></script>-->
<!--<script>-->
<!--	var swiper = new Swiper('.swiper-container', {-->
<!--		navigation: {-->
<!--			nextEl: '.swiper-button-next',-->
<!--			prevEl: '.swiper-button-prev',-->
<!--		}-->
<!--	});-->
<!--</script>-->

<!--<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>-->
<!--<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>-->

<!--<%#= javascript_pack_tag "swiper/swiper.js" %>-->