/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*nav*/
nav {
    text-align: center;
}

nav ul {
    margin: 0 ;
    padding: 0 ;
}

nav ul li{
    list-style: none;
    display: inline-block;
    width: 10%; /* ここで項目の幅を指定します */
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav li:hover{
    border-bottom: 2px solid #FF7A37; /* 下線の太さや色を指定します */
}

/*swiper*/
.swiper {
  width: 600px;
  height: 300px;
}

/*icon&name&comment*/
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon51 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  border-top: 3px solid #D3D3D3;
  border-bottom: 3px solid #D3D3D3;
  padding: 10px;
  background: #F5F5F5;
}

.balloon52 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
  padding-left: 850px;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon51 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon52 .faceicon {
  float: left;
  margin-right: -90px;
  width: 80px;
}

.balloon5 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #D3D3D3;
  border-radius: 50%;
}

.balloon51 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #D3D3D3;
  border-radius: 50%;
}

.balloon52 .faceicon img{
  width: 100%;
  height: auto;
  border: solid 3px #D3D3D3;
  border-radius: 50%;
}

.balloon5 .faceicon1 {
  float: left;
  margin-right: -90px;
  width: 60px;
}

.balloon51 .faceicon1 {
  float: left;
  margin-right: -90px;
  width: 60px;
}

.balloon52 .faceicon1 {
  float: left;
  margin-right: -90px;
  width: 60px;
}

.balloon5 .faceicon1 img{
  width: 100%;
  height: auto;
  border: solid 3px #D3D3D3;
  border-radius: 50%;
}

.balloon51 .faceicon1 img{
  width: 100%;
  height: auto;
  border: solid 3px #D3D3D3;
  border-radius: 50%;
}

.balloon52 .faceicon1 img{
  width: 100%;
  height: auto;
  border: solid 3px #D3D3D3;
  border-radius: 50%;
}

.balloon5 .name-gr {
  width: 100%;
}

.balloon51 .name-gr {
  width: 100%;
}

.balloon52 .name-gr {
  width: 100%;
}

.name {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
}

.name:after {
  content: "";
  display: inline-block;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
}

.name p {
  margin: 0;
  padding: 0;
}

.comment{
  display: inline-block;
  position: relative;
  margin: -30px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
}

.comment:after {
  content: "";
  display: inline-block;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
}

.comment p {
  margin: 0;
  padding: 0;
}

.photo-show-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
  resize: vertical;
  width:500px;
  height:140px;
}

.user-edit-contents{
    display: flex;
    margin: 100px;
    flex-direction: column;
    padding-left: 510px;
}

.user-shoe-contents{
    display: flex;
    margin: 100px;
    flex-direction: column;
    padding-left: 510px;
}

.user-show-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: 125px;
}

.photo-items{
  border: 1px solid #D3D3D3;
  padding: 10px;
  background: #F5F5F5;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
}

.photo-item-comment p{
    border-top: 1px solid #D3D3D3;
    padding: 10px;
}

.top-contents{
    display: flex;
    flex-wrap: wrap;
    margin-left: 125px;
}

.photo-new-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}